body{
    background-image: url('./background.jpg');
    background-size: 45%;
    /* background-blend-mode: color-burn; */
    /* background-blend-mode: color-dodge; */
    /* background-blend-mode:difference; */
    /* background-blend-mode:lighten; */
    /* background-blend-mode:exclusion; */
    background-blend-mode:saturation;
}
.Wheel8Ball {

    font-family: FiraCodeiScriptItalic;
    font-style: italic;
    text-align: center;
    background-color: transparent;
    /* background-color: white; */
    
  }
  /* File: App.css */
  
  .App-Section {
    font-family: FiraCodeiScript
}

.App-Header {
    font-family: FiraCodeiScriptBold
}.App-Section {
    font-family: FiraCodeiScript
}


.bg-image {
    /* The image used */
    background-image: url("./background.jpg");
    /* background-image: url("./images/regular_show_on_double_dare_by_djgames_daoz0l5-fullview.jpg"); */
    /* background-image: url("./images/bg3.png"); */
    /* background-image: url("./images/regular_show_on_double_dare_by_djgames_daoz0l5-fullview.jpg"); */
    /* background-image: url("./images/regular_show_on_double_dare_by_djgames_daoz0l5-fullview.jpg"); */
    /* filter: blur(8px);
    -webkit-filter:blur(8px);
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover; */
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    filter: blur(8px);
    -webkit-filter:blur(8px);
    height:40%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
  
    /* Full height */
    height: 80%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }